<div class="comments-head">Comments</div>

<div class="row d-flex justify-content-center">
  <div class="card">

    <!-- Only display ability to add comments if you are logged in -->
    <% if(typeof user !=="undefined" ){ %>
      <form class="url-input hstack gap-3" action="/resources/comment/<%= resource.id %>" method="POST">
        <input type="text" class="form-control comment-field" name="comment" placeholder="Join the conversation on this resource...">
        <button class="btn btn-primary post-comment">Post</button>
      </form>
      <% } %>

        <div class="comment-widgets">

          <% for (const comment of resource.comments) { %>
            <div class="d-flex flex-row comment-row m-t-0 border-bottom">
              <div class="comment-text">
                <h6 class="font-medium"><%= `${comment.first_name} ${comment.last_name}`%></h6>
                <span class="d-block comment-text"><%=comment.comment%></span>
                <span class="d-block date-time">
                  <%= (comment.date.toString()).substring(0, 15) %>
                </span>
              </div>
            </div>
            <% } %>

        </div>
  </div>
</div>

