
<div class="container">
  <h5>Search for the perfect resource:</h5>
  <form class="w-100 me-3 searchBar" action="/resources/search/query/" method="GET">
    <div class="form-group has-search">
      <i id="searchButton" class="bi bi-search form-control-feedback"></i>
      <input type="text" name="query" class="mainSearchBar form-control" placeholder="Search" aria-label="Search">
    </div>
  </form>
</div>
