<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>

<body>
  <main class="container">

    <%- include('partials/_header') %>

      <section id="registration">
        <h4> Create Your Account</h4>
        <p> ... and get started on organising your personal resources</p>

        <!-- Error display -->
        <% if(typeof error != "undefined"){ %>
          <p class="font-weight-bold" style = "margin-top: 10px; color: red"><%= error %></p>
        <% } %>

        <!-- Register Forms -->
        <div class="container">
          <form class="w-75 me-3 text"action="/register" method="POST">
            <input type="text" class="form-control" placeholder="First Name" aria-label="firstName">
            <input type="text" class="form-control" placeholder="Last Name" aria-label="lastName">
            <input type="email" class="form-control" placeholder="user@example.com" aria-label="Email">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password">
          </form>
          <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
      </section>

  </main>

    <%- include('partials/_foot') %>

</body>

</html>
