@import 'resourcesWall';

body {
  display: flex;

  main{
    display: flex column;
  }

  .LogoFont{
    font-size: large;
    align-self: center;
    color: rgb(83, 83, 83);
  }
  .logo{
    font-size: x-large;
    margin-right: 0.2em;
    color: rgb(3, 35, 175);
  }
  .userName{
    margin-right: 0.5em;
  }

  .bi-person-circle{
    font-size: x-large;
  }

  .searchBar{
    margin-bottom: 2em;
  }

}
