@import 'resourcesWall';
@import 'myresource';
@import 'register';
@import 'updateprofile';
@import 'comments';


*{
  // margin: 1;
  // padding: 1;
  // box-sizing: border-box;
  // font-family: 'Poppins',sans-serif;
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #223797, #db4104);
}


body {
  display: flex;

  main{
    display: flex column;
  }

  input{
    margin-bottom: 0.5em;
  }

  .LogoFont{
    font-size: large;
    align-self: center;
    color: rgb(30, 31, 87);
  }
  .logo{
    font-size: 2.5em;
    margin-right: 0.2em;
    color: rgb(30, 31, 87);
  }
  .userName{
    margin-right: 0.5em;
  }

  .bi-person-circle{
    font-size: x-large;
  }

  .searchBar{
    margin-bottom: 2em;
  }

  .nav-item{
    display: flex;
    align-content: center;
  }

  .signIn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    }

  .signInToggle::after {
    content: none;
}

.signInForm{
  padding: 0.5em;
  font-size: 14px;
}

.mainSearchBar{
  padding-left: 3em;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control{
  font-size: 14px;
}

.form-outline{
  width: 70%;
}

#createResBut{
  font-size: 14px;
}

.addResButton{
  margin-top: 0em;
  margin-left: 1.5em;
  width: 30%;
  font-size: 13px;
}

}


