.myResViewContain{
  display: flex;
}

.imgRankingscontainer{
  vertical-align: top;
  justify-content: top;
  align-content: top;
width: 40%
}

.myResForm{
width: 60%;
}

.myResImg{
justify-content: center;
align-content: top;
flex-wrap: wrap;
align-items: center;
}

.ratingIndividualView{
  display: flex wrap;
  margin-left: 1em;
}

.favourite{
  width: 100%;
  justify-self: center;
  margin-left: 1em;
  margin-top: 1em;
}

.favourite-hr{
width: 50%;
margin-left: 1em;
margin-top:0.5;
margin-bottom:0.5;
}

.ratingTotal{
  display: flex;
  margin-bottom:1em;
  text-align: center;
}

.myResourceForm{
  font-size: 14px;
}

#formDescInput{
  height: 5em;
}

.myResourceForm{
  font-size: 14px;
}

.url-input{
  display: flex;
  flex-direction: row;
  }

.my-resource-url-arrow{
  z-index:1;
  position: relative;
  font-size: 35px;
  margin-top:-5px;
  }

  #my-resource-rating{
    width:3em;
  }

  #my-rating-form{
    float:right;
  }

