.myResViewContain{
  display: flex;
}

.imgRankingscontainer{
  vertical-align: top;
  justify-content: top;
  align-content: top;
width: 40%
}

.myResForm{
width: 60%;
}

.myResImg{
justify-content: center;
align-content: top;
flex-wrap: wrap;
align-items: center;
}

.ratingIndividualView{
  display: flex wrap;
  justify-self: center;
  align-self: center;
}

.favourite{
  width: 100%;
  justify-self: center;
}

.ratingTotal{
  display: flex;
  margin-left: 1em;
  margin-bottom:1em;
}

.myResourceForm{
  font-size: 14px;
}

#formDescInput{
  height: 5em;
}

.myResourceForm{
  font-size: 14px;
}

.url-input{
  display: flex;
  flex-direction: row;
  }

  .my-resource-url-arrow{
    z-index:1;
    position: relative;
    font-size: 35px;
    margin-top:-5px;
    }

    #my-resource-rating{
      width:3em;
    }

    #my-rating-form{
      float:right;
    }

// comments section

.comments-head{
  margin-top: 3em;
  margin-bottom: .5em;
}

.post-comment{
margin-top:-7px;
height: 3.2em;
}

.comment-field{
  height: 4em;
}

.card {
  font-size: 14px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    padding-top: 1em;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.comment-text {
    padding-left: 15px;
    padding-bottom: 10px;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}


